* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none
  }
  

body {
  font-family: "Roboto", sans-serif;
}
/* Barra de navegación */
.navBar {
  background-color: #ffc176;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  position: fixed;
}
.nav-link {
 color: #ffe9b3; 
}

/* Logo de navegación */
.imageLogo {
  display: flex;
  flex-direction: row;
  justify-self: start;
}

/* Style de index */

/* Texto de presentación de negocio */
.presentationText {
  font-size: 1.2em;
  width: 40%;
  font-weight: 400;
  color: #d7dace;
  margin: 10px;
  text-align: center;
}

/* Imagen de tipos de producto */
.productImg {
  width: 100%;
  height: 350px;
}

/* Contenedor Imagen de tipos de producto */
.imageProducts {
  display: flex;
  align-content: center;
  justify-content: center;

}

/* Texto de título de secciones*/
.sectionTitle {
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #ffe9b3;
  color: #ffc176;
  height: 50px;
  align-content: center;
  width: 30%;
  justify-self: center;
}

/* ¿Sección quienes somos? */
.sectionWho {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  background-color: #ffc176;
  align-content: center;
  margin: 0 0 20px 0;
}

/* Grid contenedor de sección de productos */
.sectionProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 0 20px 0;
}

/* Contenedor  de lista de productos */
.productList {
  display: flex;
  flex-flow: column wrap;
  background-color: #ffc176;
  transition: 1s;
}

/* Bloque contenedor de sección de Ubicación */
.sectionLocation {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: #ffc176;
  padding: 20px;
  margin: 0 0 20px 0;
}

/* Bloque contenedor de lista de contactos */
.contactList {
  display: block;
  align-items: center;
  justify-items: center;
  /* background-color: blue; */
  padding: 50px;
  margin: 10px;
}

/* Bloque contenedor de contactos sociales */
.socialList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 100px;
}

/* Bloque contenerdor de Footer */
.sectionFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

/* Bloque contenedor de texto de presentación */
.presentationText {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ffe9b3;
}

/* Bloque contenedor de video de presentación */
.videoPresentation {
  display: flexbox;
  align-self: center;

  justify-self: center;
}

/* Texto de título de lista de productos */
.productTitle {
  display: flex;
  justify-content: center;
}

/* Primer intento de animasión para listas de productos */
.productList:hover {
transform: scale(1,2);
color: red;
background-color: #d7dace;
}

/* Media query de Index */

@media screen and (max-width: 768px) {
  .sectionProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .sectionProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 0 20px 0;
  }
}

/* Style de página de productos */
.gridProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cellProduct {
  display: flex;
  flex-flow: column wrap;
  width: 1fr;
  height: auto;
}

/* Media query de Productos */

@media screen and (max-width: 480px) {
  .gridProduct {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
