* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: black;
  font-variant: normal;
}

body {
  font-family: "Roboto", sans-serif;
}
/* Barra de navegación */
.navBar {
  background-color: #ffe9b3;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 5px 5px 5px;
  margin: 0px 0px 0px 0px;
  position: fixed;
  z-index: 1;
}
.nav-link {
  color: #ff7d76;
}

/* Logo de navegación */
.imageLogo {
  display: flex;
  flex-direction: row;
  justify-self: start;
  height: 100%;
  width: auto;
}

/* Style de index */

/* Texto de presentación de negocio */
.presentationText {
  font-size: 1.2em;
  width: 40%;
  font-weight: 400;
  color: #ff7d76;
  margin: 10px;
  text-align: center;
}

/* Imagen de tipos de producto */
.productImg {
  width: 100%;
  height: 350px;
  transition: 0.3s;
}

/* Contenedor Imagen de tipos de producto */
.imageProducts {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* Texto de título de secciones*/
.sectionTitle {
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #ffe9b3;
  color: #cf545b;
  height: 50px;
  align-content: center;
  width: 30%;
  justify-self: center;
  margin: 5px;
  padding: 5px;
}

/* ¿Sección quienes somos? */
.sectionWho {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  background-color: #ffc176;
  align-content: center;
  margin: 0 0 20px 0;
}

/* Contenedor  de lista de productos */
.productList,
.productTitle {
  display: flex;
  flex-flow: column wrap;
  background-color: #ffc176;
  transition: 1s;
  color: #ff7d76;
}

/* Bloque contenedor de sección de Ubicación */
.sectionLocation {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  background-color: #ffc176;
  padding: 20px;
  margin: 0 0 20px 0;
}

/* Bloque contenedor de lista de contactos */
.contactList {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

/* Bloque contenedor de contactos sociales */
.socialList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0px;
}

/* Bloque contenerdor de Footer */
.sectionFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  background-color: #ffe9b3;
}

/* Bloque contenedor de texto de presentación */
.presentationText {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #ff7d76;
}

/* Bloque contenedor de video de presentación */
.videoPresentation {
  display: flexbox;
  align-self: center;
  justify-self: center;
}

/* Texto de título de lista de productos */
.productTitle {
  display: flex;
  justify-content: center;
}

/* Primer intento de animasión para listas de productos */
.productImg:hover {
  transform: scale(1.1, 1.1);
}

.sectionProducts .card {
  background-color: #ffc176;
}

.conteinerFooter {
  background-color: #ffe9b3;
  color: #cf545b;
}

/* Media query de Index */

@media screen and (max-width: 480px) {
  .sectionProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 0 20px 0;
  }
}

/* Style de página de productos */
.gridProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.cellProduct {
  display: flex;
  flex-flow: column wrap;
  width: 1fr;
  height: auto;
}

/* Media query de Productos */

@media screen and (max-width: 480px) {
  .gridProduct {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
